* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.container {
  padding: 1em;
}

.snippets-container {
  padding: 1em;
  background-color: #282c34;
  margin: 1em 0;
}

h1 {
  margin: .5em 0;
}

ul > li {
  font-family: 'Roboto Mono', monospace;
  list-style: none;
  font-size: 1em;
  line-height: 2em;
  color: #ffffff;
}